.background {
    transform: scale(110%);
    filter: saturate(2);
    background-image: url('./image/dark.webp');
}

a {
    color: #14deff;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: #12cce9ce;
    text-decoration: underline;
}

a:active {
    color: #11c6e2a4;
}

a.button {
    color: #ffffff;
    background-color: #075457;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a.button:hover {
    background-color: #07545788;
}

a.button:active {
    background-color: #0754572c;
}

a.button.important {
    letter-spacing: 0.3px;
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}

a.button.important:hover {
    text-decoration-color: var(--apple-color-white);
}

.announcement-bar {
    background-color: rgba(0, 0, 0, 0.2);
}

hr {
    background-color: #cfc9c2;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 18px;
    border: none;
}

input[type='text'] {
    font-size: 14px;
    min-width: 190px;
    line-height: 20px;
    padding: 5px 12px;
    border: 1px solid #cfc9c2;
    vertical-align: middle;
    border-radius: 6px;
    outline: none;
}

input[type='text']::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    color: #ffffff;
    background-color: #1f6feb !important;
    border: 2px solid #1f6feb;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition-duration: 0.3s;
    outline: none;
}

button:hover {
    background-color: #1258c5 !important;
    border: 2px solid #1258c5;
}

button:active {
    background-color: #367eed !important;
    border: 2px solid #367eed;
}

button.disabled {
    color: #ffffff;
    background-color: #6a1111 !important;
    border: 2px solid #6a1111;
    opacity: 50%;
    cursor: not-allowed;
}


select {
    background-color: var(--apple-color-white);
    font-size: 14px;
    min-width: 200px;
    line-height: 20px;
    padding: 5px 12px;
    border: 1px solid #cfc9c2;
    border-radius: 6px;
    vertical-align: middle;
    outline: none;
    overflow-y: auto;
}

select:disabled {
    color: var(--apple-color-white);
    opacity: 100%;
}

sidebar {
    background-color: #075457 !important;
}

mdui-menu-item {
    padding: 4px 12px;
    cursor: pointer;
    transition: none;
    -webkit-tap-highlight-color: transparent;
}

mdui-menu-item .secondary {
    display: none;
    color: #777;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    font-size: 14px;
    margin-top: 1.5rem;
    text-align: center;
    background-image: linear-gradient(transparent, rgba(34, 38, 255, 0.1));
}

.tip {
    color: rgba(214, 213, 218, 0.75);
    font-size: 15px;
}

.ICP a {
    color: #7575ff;
}

.ICP a:hover {
    color: #9595ff;
}

.ICP a:active {
    color: #5555ff;
}

.checkbox:checked+label::before {
    background-color: #c16814;
    border-color: #c16814;
}


.to-fold, .to-unfold, .inline-link {
    background-color: #0000003f;
}

.pre-flex {
    background-color: /* #0693 */ #0000003f;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 1.25;
    white-space: pre-wrap;
}

a.button:not(.download)::after {
    content: '';
    color: var(--apple-color-white);
    display: inline-block;
    content: url('icon/linkIcon.svg');
    width: 1em;
    vertical-align: middle;
    padding-left: 3px;
    transition-duration: 0.2s;
}

@keyframes layer-into {
    0% {
        right: -300px;
        background-color: rgba(0, 0, 0, 0);
    }
    40% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        right: 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.update-layer div {
    opacity: 100%;
    color: var(--apple-color-white);
    font-size: 0.85rem;
}

.update-layer a {
    color: #f4a460;
}

.update-layer a:hover {
    color: #f1b888;
}

.update-layer a:active {
    color: #ff7600;
}

.update-layer .abbr {
    margin: -2px 0;
    color: #e7e750;
}

.update-layer .latest-version {
    color: #00cc00;
    margin: -2px 0;
    font-weight: bold;
}

.update-layer {
    position: fixed;
    width: var(--layer-width);
    height: var(--layer-height);
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all 1.2s ease;
}

#目录 {
    background-color: rgba(9, 73, 136, 0.452);
}

#目录 a {
    color: var(--apple-color-white);
}

summary::before {
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="white"%3E%3Cpath d="M472.064 272.448l-399.232 399.232c-22.08 22.08-22.08 57.792 0 79.872 22.016 22.016 57.792 22.08 79.872 0L512 392.256l359.296 359.296c22.016 22.016 57.792 22.08 79.872 0 22.08-22.08 22.016-57.792 0-79.872L551.936 272.448C529.856 250.432 494.144 250.432 472.064 272.448z"%3E%3C/path%3E%3C/svg%3E');
}

details[open]+hr {
    background-color: #075457;
}

.tt-menu {
    color: var(--apple-color-white);
    background-color: #111d;
}

.tt-suggestion:hover {
    background-color: #426dd0;
}

.tt-suggestion.tt-cursor {
    background-color: #426dd0;
}

/*
 *  DARK ONLY  *
 */

:root {
    --mdui-color-surface: 1, 8, 0, 0.2 !important;
    --mdui-color-on-surface-variant-light: 182, 186, 177 !important;
    --mdui-color-surface-container-light: 17, 17, 17, 0.87 !important;
    --mdui-color-on-surface-light: 227, 228, 224 !important;
    --mdui-color-on-background-light: 227, 228, 224 !important;
    color-scheme: dark !important;
}

#目录 info {
    color: var(--apple-color-white);
}

details+hr {
    background-color: rgba(255, 255, 255, 0.3);
}

text, h1, h2, h3, h4, h5, h6, p, input, .announcement-bar {
    color: var(--apple-color-white);
}

mdui-segmented-button text {
    color: inherit;
    transition-duration: 0s;
}

a p {
    color: inherit;
    transition-duration: 0.2s;
}
