.background {
    transform: scale(110%);
    filter: saturate(1.3);
    background-image: url('./image/daylight.webp');
}

a {
    color: #0044dd;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: #0058ff;
    text-decoration: underline;
}

a:active {
    color: #2d00dd;
}

a.button {
    color: #ffffff;
    background-color: #1f6feb;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a.button:hover {
    background-color: #1258c5;
}

a.button:active {
    background-color: #367eed;
}

a.button.important {
    letter-spacing: 0.3px;
    text-decoration-line: underline;
    text-decoration-color: #ffffa0;
}

a.button.important:hover {
    text-decoration-color: white;
}

hr {
    background-color: #30363d;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 18px;
    border: none;
}

input[type='text'] {
    font-size: 14px;
    min-width: 190px;
    line-height: 20px;
    padding: 5px 12px;
    border: 1px solid #30363d;
    vertical-align: middle;
    border-radius: 6px;
    outline: none;
}

input[type='text']::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

button {
    color: #ffffff;
    background-color: #1f6feb !important;
    border: 2px solid #1f6feb;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition-duration: 0.3s;
    outline: none;
}

button:hover {
    background-color: #1258c5 !important;
    border: 2px solid #1258c5;
}

button:active {
    background-color: #367eed !important;
    border: 2px solid #367eed;
}

button.disabled {
    color: #ffffff;
    background-color: #6a1111 !important;
    border: 2px solid #6a1111;
    opacity: 50%;
    cursor: not-allowed;
}


select {
    background-color: #ffffff;
    font-size: 14px;
    min-width: 200px;
    line-height: 20px;
    padding: 5px 12px;
    border: 1px solid #30363d;
    border-radius: 6px;
    vertical-align: middle;
    outline: none;
    overflow-y: auto;
}

select:disabled {
    color: #000000;
    opacity: 100%;
}

mdui-menu-item {
    padding: 4px 12px;
    cursor: pointer;
    transition: none;
    -webkit-tap-highlight-color: transparent;
}

mdui-menu-item .secondary {
    display: none;
    color: #888;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    font-size: 14px;
    margin-top: 1.5rem;
    text-align: center;
    background-image: linear-gradient(transparent, rgba(220, 219, 240, 0.5));
}

.tip {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.ICP a, .credit a {
    color: #6000ff;
}

.ICP a:hover, .credit a:hover {
    color: #8000cc;
}

.ICP a:active, .credit a:active {
    color: #5555ff;
}

.checkbox:checked+label::before {
    background-color: #3e97eb;
    border-color: #3e97eb;
}

.to-fold, .to-unfold, .inline-link {
    background-color: #fff3;
}

.pre-flex {
    background-color: #0f009933;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 1.25;
    white-space: pre-wrap;
}

a.button:not(.download)::after {
    content: '';
    color: white;
    display: inline-block;
    content: url('icon/linkIcon.svg');
    width: 1em;
    vertical-align: middle;
    padding-left: 3px;
}

@keyframes layer-into {
    0% {
        right: -300px;
        background-color: rgba(0, 0, 0, 0);
    }
    40% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        right: 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.update-layer div {
    opacity: 100%;
    color: white;
    font-size: 0.85rem;
}

.update-layer a {
    color: #f4a460;
}

.update-layer a:hover {
    color: #f1b888;
}

.update-layer a:active {
    color: #ff7600;
}

.update-layer .abbr {
    margin: -2px 0;
    color: #ffff00;
}

.update-layer .latest-version {
    color: #00ee00;
    margin: -2px 0;
    font-weight: bold;
}

.update-layer {
    position: fixed;
    width: var(--layer-width);
    height: var(--layer-height);
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all 1.2s ease;
}

#目录 {
    background-color: #c0b9ff86;
}

#目录 a {
    color: #ccc;
}

summary::before {
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="black"%3E%3Cpath d="M472.064 272.448l-399.232 399.232c-22.08 22.08-22.08 57.792 0 79.872 22.016 22.016 57.792 22.08 79.872 0L512 392.256l359.296 359.296c22.016 22.016 57.792 22.08 79.872 0 22.08-22.08 22.016-57.792 0-79.872L551.936 272.448C529.856 250.432 494.144 250.432 472.064 272.448z"%3E%3C/path%3E%3C/svg%3E');
}

details[open]+hr {
    background-color: #00f;
}

.tt-menu {
    color: #222;
    background-color: #fff;
}

.tt-suggestion:hover {
    background-color: #00a0df;
}

.tt-suggestion.tt-cursor {
    background-color: #00a0df;
}

/*
 *  LIGHT ONLY  *
 */

:root {
    --mdui-color-surface: 254, 247, 255, 0.4 !important;
    --mdui-color-outline-light: 56, 54, 62, 0.7 !important;
    color-scheme: light;
}


a:hover, a:hover p, a:active, a:active p, footer p {
    filter: none;
    transition-duration: 0.2s;
}
