:root {
    scroll-behavior: smooth;

    --apple-color-white: #d6d5da;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
}


.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: left;
    transition-duration: 0s;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.svg.right {
    padding-right: 3px;
}

div+hr {
    margin: 24px 0;
}

label, .label {
    display: block;
    margin: 0.25rem 0;
    user-select: none;
}

mdui-button {
    vertical-align: middle;
}

mdui-select {
    background-color: transparent;
    font-size: 14px;
    width: 200px;
    padding: 1px 0;
    line-height: 20px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

mdui-segmented-button {
    transition-duration: 0.3s;
}

mdui-menu-item.version-item {
    padding: 0 15px;
    font-size: 13px;
}

mdui-menu-item[hidden] {
    display: none;
}

mdui-menu-item:hover .secondary {
    display: block;
}

footer p {
    margin-bottom: 0;
}

select, option, input, button {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

div[id]>*:first-child {
    width: max-content;
    white-space: nowrap;
}

.announcement-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: max(4vh, max-content);
    background-color: rgba(214, 213, 218, 0.2);
    line-height: 4vh;
    text-align: center;
    margin: auto;
    font-size: 14px;
    z-index: 0;
    overflow: hidden;
}

.announcement-bar ul {
    list-style: none;
}

.announcement-bar li {
    position: relative;
}

.announcement-bar li.announcement-1 {
    animation: announcement 5s ease-out forwards;
}

.announcement-bar li:not(.announcement-1) {
    display: none;
}

.apf:hover {
    transform: scale(1.05) rotate(-1deg);
    transition: transform 0.5s;
}

#give-up {
    position: fixed;
    bottom: 0;
    right: 0;
}

.bold {
    font-weight: bold;
}

.min-width-215 {
    min-width: 215px;
}

.margin-top-20 {
    margin-top: 20px;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.gravity-inline * {
    display: inline;
}

.gravity-block>* {
    display: block;
}

.news {
    width: calc((100vw - 1000px) / 2 - 5px);
    top: 3%;
    height: 80%;
    background: rgba(17, 17, 17, 0.4);
    position: fixed;
}

.page-content {
    max-width: min(1000px, 100vw);
    margin: 0 auto;
    padding: 1rem;
}

.page-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.full-name {
    margin-left: 6px;
    font-size: 0.75rem;
    font-style: italic;
}

.first-title {
    margin: 1rem;
    margin-left: 0.25rem;
}

.checkbox {
    width: 1rem;
    height: 1rem;
}

.searchable-goto {
    margin-left: 3px;
}

.article h3 {
    margin: 0.5em 0;
}

.article h3:first-child {
    margin-top: 0;
}

.article img {
    height: auto;
    width: auto;
    max-width: calc(min(100vw, 800px) - 4rem);
}

.utility-website-container div.label,
.forum-container div.label {
    display: inline-block;
}

.website-container h2 {
    display: contents;
}

.to-fold, .to-unfold, .inline-link {
    font-size: 0.8rem;
    bottom: 5px;
    right: 1px;
    top: 1px;
    padding: 0 5px;
    border-radius: 5px;
}

.inline-link {
    display: inline;
    cursor: pointer;
}

.searchable-input {
    width: 250px;
}

.searchable-button, .searchable-clear {
    transition-duration: 0.15s;
}

.searchable-clear[hidden] {
    display: none !important;
}

.searchable-prompt-length {
    width: 200px;
}

.acquire-versions {
    transition-duration: 0.1s;
}

.resource-container>div+div,
.device-container+.resource-container {
    margin-top: 1rem;
}


.pre-flex details,
.pre-flex a.button {
    margin: 6px;
    font-size: 16px;
    font-family: var(--font-family);
}

.noicon::after, .nosupport::after {
    display: none !important;
}


.update-layer {
    --layer-width: 260px;
    --layer-height: 140px;
}

.update-layer div {
    margin: 6px 14px;
}

.update-layer div:nth-child(2) {
    margin-left: 35px;
}

.update-layer div:nth-child(3) {
    margin: 6px 0;
    text-align: center;
}

.update-layer div:nth-child(4) {
    margin: -3px 0;
    text-align: center;
}

.update-layer .download {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 15px;
}

.update-layer .close {
    position: absolute;
    right: 7px;
    top: 4px;
    cursor: pointer;
}

.update-layer .last-version {
    margin: -2px 0;
    color: #aaaaaa;
}

.update-layer:not(.update-layer-1):not(.update-layer-2):not(.update-layer-3) {
    display: none;
}

.update-layer-1 {
    top: 5px;
    animation: 0.5s ease-in-out layer-into;
}

.update-layer-2 {
    top: calc(var(--layer-height) + 10px);
    animation: 0.65s ease-in-out layer-into;
}

.update-layer-3 {
    top: calc(var(--layer-height) * 2 + 15px);
    animation: 0.8s ease-in-out layer-into;
}


.传送锚点 {
    user-select: none;
    color: transparent;
}

main>div {
    background-color: transparent;
    border-radius: 10px;
}

#目录 {
    width: fit-content;
    /* height: auto; */
    padding-right: calc(1.3vw);
    position: fixed;
    top: calc(35vh);
    right: calc(-6vw);
    padding: 8px;
    max-height: 20px;
    border-radius: 10px;
    transition: all 1.2s;
    user-select: none;
    z-index: 999;
}

#目录>dl {
    margin-top: 20px;
    margin-left: 12px;
    opacity: 0%;
    transition: opacity 0.65s !important;
    pointer-events: none;
    width: 100%;
}

#目录:hover {
    right: 0;
    max-height: 1000px;
}

#目录:hover>dl {
    opacity: 100%;
    pointer-events: unset;
}

#目录 dt::before {
    content: '◼ ';
    font-family: 'Segoe UI Emoji';
}

#目录 dd::before {
    content: '◻ ';
    margin-left: 6px;
    font-family: 'Segoe UI Emoji';
}

hr {
    margin-left: -1%;
    width: 102%;
}

summary {
    user-select: none;
    outline: none;
    display: block; /* 用于隐藏默认的小三角 */
    margin-left: 1.5rem;
}

summary::-webkit-details-marker {
    display: none; /* support chrome 89- */
}

summary::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin: 0.2em 0 0 -1.2em;
    background-size: 100% 100%;
    transition: transform 0.2s, background-image 0.6s;
    transform: rotate(90deg);
}

summary.noicon::before {
    display: none;
}

details {
    max-height: 3rem;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

details a.button {
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

details[open] {
    max-height: var(--calculated-height, 50rem);
}

details[open] a.button {
    opacity: 100%;
    pointer-events: auto;
}

details[open]>summary::before {
    transform: rotate(180deg);
}

details+hr {
    transition: background-color 0.8s;
}

pre {
    transition: transform 0.6s linear;
}

a.button {
    text-align: center;
}

a.button img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.1em;
}

.rainyun {
    color: #37b5c1;
}

.rainyun:hover {
    color: #31a2ad;
}

.nosupport {
    cursor: not-allowed !important;
}

.h-shake {
    animation: h-shake 700ms ease-in-out;
}

.searchmatch {
    text-decoration: underline;
    color: var(--apple-color-white);
}


@keyframes announcement {
    0% { top: 4vh; opacity: 0; }
    15% { top: 0; opacity: 1; }
    75% { top: 0; opacity: 1; }
    100% { top: -2.5vh; opacity: 0; }
}

@keyframes h-shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(+2px, 0, 0); }
    30%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(+4px, 0, 0); }
    50% { transform: translate3d(-4px, 0, 0); }
}

@font-face {
    font-family: 'Segoe UI Emoji';
    src: url('font/seguiemj.ttf');
}
