pre a.button {
    display: flex;
    margin-bottom: 0.5em;
}

.update-layer {
    --layer-width: 240px;
    --layer-height: 130px;
}

.update-layer div {
    margin: 6px 9px;
}

.update-layer div:nth-child(2) {
    margin: -2px 0;
    margin-left: 25px;
}

#目录 {
    right: calc(-16vw);
    margin-right: 14px;
}

#目录 dt a {
    word-break: keep-all;
    white-space: normal;
    display: inline-block;
    width: auto;
    min-width: 4em;
    margin-left: -8px;
}

#目录 dd {
    display: none;  /* 在移动端隐藏dd元素 */
}

